div.container { width: 800px; margin: 10px auto; font-size: 10pt; }

.btn { padding: 0.4em 1em; border: 1px solid gray;
    border-radius: 0.5em; background: linear-gradient(#fff, #ddd);
    text-decoration: none; color: black;
    display: inline-block; }

.btn:active, .btn-mini:active {
    -ms-transform: translateY(2px);
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    background: #ccc; }

.btn-mini { padding: 0.1em 0.3em; border: 1px solid gray;
    border-radius: 0.4em; background: linear-gradient(#fff, #ddd);
    text-decoration: none; color: black;
    display: inline-block; font-size: 10pt; }

table.list { border-collapse: collapse; width: 100%; }
table.list.condensed { width: auto; }
table.list td { padding: 4px; border: 1px solid gray; }
table.list th { padding: 4px; border: 1px solid gray;  background-color: #eee; }

input { padding: 4px; }
select { padding: 4px; }

tr[data-url]:hover { cursor: pointer; background-color: #ffe; }